services:
  db:
    image: postgis/postgis:15-3.3
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql

  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8082:8082"
    env_file:
      - .env
    environment:
      PORT: 8082
      DB_HOST: db
      REDIS_ADDR: redis:6379
    volumes:
      - ./:/app
    depends_on:
      - db
      - redis

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      - VITE_API_URL=http://localhost:8082/api/v1
    depends_on:
      - backend

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"

volumes:
  pgdata: